.container {
	height: 100%;
	min-width: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	--histry-width: 350px;
	--devtools-width: 2fr;
}

.actions {
	display: flex;
	gap: 20px;
}

.content {
	position: relative;
	flex: 1;

	display: grid;

	grid-template-rows: auto;
	grid-template-columns: 1fr;

	overflow: hidden;

	&:not(.show_devtools) > div:nth-child(2),
	&:not(.show_history) > div:nth-child(3) {
		display: none;
	}
}

.content {
	&.show_devtools {
		grid-template-columns: 3fr var(--devtools-width);
	}

	&.show_history {
		grid-template-columns: 1fr var(--histry-width);
	}

	&.show_devtools.show_history {
		grid-template-columns: 3fr var(--devtools-width) var(--histry-width);
	}
}

.create {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	padding: 10px;
}
