.header {
	padding: 0 20px 0 10px;
	background: var(--color-header-bg);
	display: flex;

	height: 40px;

	align-items: center;
	gap: 20px;
}
.children {
	flex: 1;
}

.link {
	color: inherit;
	font-size: larger;
}
